h1{
    text-align:center;
    font-size: 50px;
    color:white;
    z-index: 9999;
    margin-top: 3%;
}

.topnav{
    position:absolute;
    width: 100%;
    top:0px;
    padding-top: 0px;
    background-color: #0f1111;
    height:25%;
    left: 0;
  }

  .pic{
    width:400px; 
    height: 300px;
    position:relative;
  }

 .row{
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
 }

 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
 }


.close_button{
    margin-top: 0%;
    display:hidden;
    margin-left:82%;
    height:5%;
    width:2.5%;
  }

  /* The background */
.bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 0;
  }

  

  .col img:hover{
    box-shadow: 0px 0px 18px rgb(94, 145, 212);
  }

 
  #img1{
      z-index: 2;
  }

.prev, .next{
  position: absolute;
  top:40%;
  height:7%;
  width:3%;
  right:20%;
}

.prev{
  position: absolute;
  right:82%;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #555555; 
  color: white;
}


